/* Body styles */
/* Universal Selector */
body {
    color: #249d66;
    background-color: rgb(12, 12, 12);
    font-family: Tahoma, sans-serif;
    font-size: 18px;
}
p {
    line-height: 1.5em;
}
html {
    text-align: center;
}
main li {
    text-align: left;
    line-height: 1.7em;
    font-style: italic;
}

/* Combinator Selectors */
h1 h2 {
    font-variant: small-caps;
}

/* Attribute Selectors */
*[href] {
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
}

/* Heading styles */
/* Type Selectors */
h1 {
    color: #097f7f;
    font-family: Georgia, sans-serif;
    font-width: calc(100% - 20px)   ;
}
h2 {
    color: #40358a;
    font-family: fantasy, sans-serif;
    font-width: calc(150% - 22px)   ;
}

/* Quote styles */
q {
    color: #ea460b;
    font-family: Times New Roman, sans-serif;
}

/* Header Styles */
/* ID Selectors */
#quote_header {
    font-size: 18px;
    text-decoration: bold;
}
#information_header {
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 1px;
}
#mason-water-access {
    float: left;
    margin-right: 2em;
    margin-bottom: 8em;
}
#kitsap_water_access {
    float: left;
    margin-right: 2em;
    margin-bottom: 8em;
}


/* Class Selectors */
.title_header {
    font-variant: small-caps;
    font-size: 40px;
}
.water_title {
    font-size: 28px;
    letter-spacing: 2px;
    text-align: left;
}
.floating_images {
    float: left;
    margin-right: 2em;
    margin-bottom: 8em;
}
.clearing_images {
    clear: both;
    text-align: center;
}